html
  head
    title= title
  body
    button(name='sync' value='sync', onclick="window.location.href='/sync'") Sync
    button(name='customers' value='customers', onclick="window.location.href='/customers'") Customers
    button(name='bills' value='bills', onclick="window.location.href='/bills'") Bills
    button(name='invoices' value='invoices', onclick="window.location.href='/invoices'") Invoices
    br
    bold= title
    table(border='1')
      tbody
        tr
          each val in tableHead
            th= val
        each record in recs
          tr
            each field in record 
              td= field
    br
    if title == 'Customers'
      bold Add New #{title}:
      form(action= "/" + title.toLowerCase() method='post')
        each field in tableHead
          div
            label(for= field)= field
            input(type='text' id= field name= field)
        div(class='button')
          button(type='submit') Submit
